{
    "presets": ["next/babel"],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true,
                "displyName": true,
                "preprocess": false
            }
        ]
        
    ]
}